body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: white;
}

nav{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}

#img{
    width: 250px;
    height: 300px; 
    background-image: url(./imagens/desligada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content:center;
    margin-bottom:50px ;
}
button{
    width: 100px;
    padding: 10px;
    border-radius: 12px;
    
}
footer{
    margin-top: 50px;
    background-color: black;
    color: white;
    padding: 23px;
    
}
